/* #login {
  flex: content;
  align-items: center;
} */


@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }


  .login-card {
    margin-top: 125px;
    max-width: 33vw;
    margin-left: 33vw;
  }

  .login-form {
    margin-right: 300px;
    padding-right: 175px;
    width: 33vw;
  }


  .login-logo { 
    display: flex;
    height: 150px;
    width: 150px;
    margin-left: 10vw;
}

